<h1>Log In</h1>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert password">
    <button type="submit">Log In</button>
</form>
<p>¿No tenes cuenta? Registrate! <a href="/register"><button>Registrarse</button></a></p>