<h1>Registrate acá</h1>
<form action="/register" method="post">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert password">
    <button type="submit">Register</button>
</form>
<p>¿Ya tenes cuenta? Logueate acá! <a href="/login"><button>Log In</button></a></p>