<form action="/login" method="post">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert password">
    <button type="submit">Register</button>
</form>